* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ol,
ul {
    list-style: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

section {
    background: url(../img/imgFondo.jpg) no-repeat;
    background-size: cover;
    height: 40em;
    position: relative;
}

header {
    background-color: rgba(0, 0, 0, 0.6);
    height: 4em;
    position: sticky;
    top: 0px;
    z-index: 10;
}

header nav {
    display: inline-block;
    position: absolute;
    right: 2em;
    margin-right: 4%;
    height: 4em;
}

header nav div {
    display: inline-block;
    padding: 3% 2em;
    height: 100%;
}

header nav div:hover {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
}

header nav div a {
    color: white;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 500;
}

header img {
    width: 4em;
    margin: 0.5em 6%;
    opacity: 1;
}

section form {
    width: 22em;
    position: absolute;
    top: 7em;
    right: 7em;
    background-color: white;
    padding: 1.2em;
}

h2 {
    color: white;
    font-size: 3.5em;
    width: 10em;
    margin: auto;
    position: absolute;
    top: 2em;
    left: 1em;
    font-weight: bold;
    -webkit-text-stroke: 1px rgb(170, 169, 169);
}

h3 {
    font-size: 2em;
    font-weight: bold;
}

section form input {
    display: block;

}

form input {
    margin: 1em auto;
    height: 2em;
    width: 18em;
    border: 1px solid gray;
    padding: 1px 1em;
    border-radius: 5px;
}

form input:focus{
    font-size: 1.1em;
}

.agree {
    display: block;
    margin: 0 1em 0.5em 1em;
    width: 1em;
    float: left
}

label {
    display: block;
    float: left;
    padding-top: 0.3em;
}

form a:link {
    color: #ff0080;
}

footer {
    background-color: lightgray;
    height: 13em;
    padding: 2em 8em;
}

footer form input:first-of-type {
    width: 10em;
}

footer form input {
    width: 15em;
}

.boton {
    background-color: #ff0080;
    color: white;
}